.movie-container {
    min-height: 88vh; 
}

.back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.image-container {
    position: relative;
    width: 100%;
    height: 25vh;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-top: -1px;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #1c1c1c);
}

.img-rating {
    max-width: 30px;
    height: auto; 
    margin-right: 5px;
}

.movie-footer {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #1c1c1c 50%);
    height: 12vh; 
}

.arrow-left-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}